span{
font-weight: bold;
background: lightgray;
padding:.1cm .1cm;
cursor:pointer;
user-select:none;
}


.play-container{
padding:1cm;
border:1px solid lightgray;
margin-bottom: 1cm;

input{
padding:1cm;
margin-bottom:1cm;
}
}